.section7-container{
    width: 100%;
    height: auto;
padding-top: 100px;
padding-bottom: 100px;
}
.section7-text1{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;

color:#3E82FC ;
}
.section7-text2{
    font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.01em;
text-align: center;
color: #05060A;
}
.section7-card-container{
    height: 394px;
    width: 726px;
    background-color: whitesmoke;
    box-shadow: 0px 54px 104px rgba(0, 0, 0, 0.04);
    border-radius: 140px 0px;
}
.section7-card{
   
    /* text-align: center; */
    display: flex;
    justify-content: center;

    padding-top: 52px;
  
}
.section7-card-text1{
    font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: #05060A;
padding-top: 20px;
}
.section7-card-text1{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: #FE2C54;
}
.section7-card-text3{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: #5D616F;
padding-left: 10%;
padding-top: 30px;
padding-right: 10%;
/* width: 30%; */
}
.section7-star-main-container{
    display: flex;
    justify-content: center;
}
.section7-star-container{
    display: flex;
    gap: 0px 7px;
    padding-top: 12px;
}
.section7-slide-container{
    /* width: 90%; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-bottom: 100px; */
    /* background-color:#FBFEFF ; */
    /* padding-bottom: 60px; */

}
.slick-next {
    right: -25px;
  }