.section1-points-container{
    width: 100%;
    height: 382px;

    display: flex;
    margin-top: 80px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 54px 104px rgba(0, 0, 0, 0.04);
}
.section1-points-card{
    width: 268px;
}
.section1-points-card-header{
    font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #05060A;
}

.section1-points-card-text{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #5D616F;
}
.section1-points-read{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: red;
}